<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<img-loader useImg src="img/backgrounds/side-menu.jpg"></img-loader>
	<ion-list no-lines>
		<ng-container *ngFor="let p of pages">
			<button ion-item *ngIf="p.title != 'Home'" (click)="openPage(p)">
				{{ p.title }}
				<ion-icon name="arrow-forward" item-end></ion-icon>
			</button>
		</ng-container>
	</ion-list>
</ion-content>