<ion-content>
	<ion-card>
		<ion-item-divider color="light">General</ion-item-divider>
		<ion-item>
			<ion-icon name='options' item-start></ion-icon>
			Category:
			<span class="pull-right">
				{{ merc.category }}
			</span>
		</ion-item>
		<ion-item>
			<ion-icon name='cash' item-start></ion-icon>
			Price:
			<span class="pull-right">
				{{ merc.price > 0 ? merc.price + 'C' : 'Free' }}
			</span>
		</ion-item>
		<ion-item>
			<ion-icon name='medkit' item-start></ion-icon>
			Health:
			<span class="pull-right">
				{{ merc.health }}HP
			</span>
		</ion-item>
		<ion-item>
			<ion-icon name='speedometer' item-start></ion-icon>
			Speed:
			<span class="pull-right">
				{{ merc.speed }}
			</span>
		</ion-item>
		<ion-item>
			<ion-icon name='bonfire' item-start></ion-icon>
			Arm/Defuse:
			<span class="pull-right">
				{{ merc.category == 'Engineer' ? '3/4 sec' : '5/8 sec' }}
			</span>
		</ion-item>
	</ion-card>
	<ng-container *ngIf="merc.abilities != undefined">
		<ion-card>
			<ion-item-divider color="light">Abilities</ion-item-divider>
			<ion-item *ngFor="let ability of merc.abilities">
				<ion-avatar item-start class="avatar ability">
					<img-loader *ngIf="ability.code != undefined" useImg src="img/abilities/{{ ability.code }}_icon.png"></img-loader>
				</ion-avatar>
				{{ ability.name }}
			</ion-item>
		</ion-card>
	</ng-container>
</ion-content>